@page
@model glowing_palm_tree.Pages.Veg_Model.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crop.cNAme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crop.cNAme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crop.sun)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crop.sun)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crop.temp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crop.temp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crop.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crop.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crop.avYeild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crop.avYeild)
        </dd>
        <ul>
            @foreach(var farmer in Model.Crop.productions) 
                {
                    <form method="post">
                    <input type="hidden" asp-for="Farmidtodelete"value="@farmer.Farmer.fID"/>
                <li>
                    @farmer.Farmer.fID <input type="submit" Value="Quit Production" class="btn btn-info btn-sm my-1" asp-page-handler="Quit Production" asp-route-id="@Model.Crop.cID">
                </li>
                </form>
                }
        </ul>
    </dl>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="AtNewFarm" class="control-label"></label>
                        <select asp-for="AllFarmers" asp-items="Model.FarmerList" class ="form-control"> 
                           <option value="">Select New Location</option>
                        </select>
                        <span asp-validation-for="AtNewFarm" class="text-success"></span>
                    </div>
                <div class="form-group">
	        <input type="submit" value="Delete" class="btn btn-info" />
            </div>
                </form>
<       /div>
    </div>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Crop.cID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
